<a href="/shop/"><div class="logoEmpresa"></div></a>
<div class="panel-login derechaHeader">
    <div class="login">Sign in</div>
</div>
<div class="buscador derechaHeader">
    <input id="search" type="text" placeholder="Encuentra el producto que estas buscando"/>
</div>
<div id="login" style="display: none;">
    <h3>Acceder</h3>
    <p><span class="lb-login">Usuario:</span><input id="user" type="text"></p>
    <p><span class="lb-login">Contraseña:</span><input id="pass" type="password"></p>
    <p>Selecciona el mismo cuadro de la imagen</p>
    <div id="PuzzleCaptcha"></div>
    <p>
        <input id="login-bt" type="button" class="boton btnSubmit" disabled="disable" style="display: none" value="Acceder">
        <input id="reg-bt" onclick="window.location.href = 'crearUsuario.html'" type="button" class="boton" value="registrate">
    </p>
</div>