
/* 
    Created on : 17/01/2016, 04:08:07 PM
    Author     : Carlos Cesar Rosas<face_less@hotmail.com>
*/

.middle-page{
    margin: 20% auto auto;
    position: relative;
}
.column-small{
    max-width: 50px;
}
.column-middle{
    max-width: 100px;
}
.title-principal{
    text-align: center
}
.ui-menu.ui-menubar.ui-widget.ui-widget-content.ui-corner-all.ui-helper-clearfix{
    background:rgb(195, 78, 33);
    border:1px none #000 !important;
}
.ui-widget-content a, .ui-widget-header a{
    border:1px none #000 !important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover{
    background: steelblue none repeat scroll 0 0 !important;
    border:1px none #000 !important;
}
.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield{
    background: rgba(255, 255, 255, 1) !important;
}
.ui-inputfield{
    padding: 6px !important;
}
.ui-widget-header{
    background: #062F48 !important;
    border: 1px solid #fff !important;
    color:#fff !important;
    text-shadow: 0 0 !important;
}
.ui-selectonemenu-panel .ui-selectonemenu-filter{
    width: 250px !important;
}
.color-link{
    color:#fff !important;
}
tr:nth-child(even) {
    background-color: #eee !important;
}
.title-header{
    float: right;
}
.ui-panelgrid .ui-panelgrid-header{
    text-align: left !important;
        font-size: 20px;
    font-weight: lighter;
    letter-spacing: 5px;
}
@media screen and (max-width:480px){
    .column-small{
        max-width: 100%;
    }   
    .column-middle{
        max-width: 100%;
    }
}