{{#each data}}
        <li data-thumb="public/images/getimage?image={{imagenesList.0.path}}">
            <a href="desc-prod.html?prod={{idProducto}}"><img class="carPrincipalItem" src="public/images/getimage?image={{imagenesList.0.path}}" /></a>
        </li>
{{/each}}
